

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">RN Mobility</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="nursinglicensurecompact.html">Multi-State Licenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutrnmobility.html">About</a>
      </li>
    </ul>
  </div>
</nav>



<div id="jumbotron" class="jumbotron">
  <h1 class="clearfix mt-5">{{ page.heading }}</h1>
<h2>{{ page.subheading }}</h2>


</div>
