<!doctype html>
<html lang="en-US">
  {%- include head.html -%}

  <body>
    <div>
      {%- include page-header.html -%}
    </div>

    <div class="state-content__container container mx-auto">
      <!-- Page content -->
      <div class="mt-5 mt-lg-1 container mx-auto p-lg-5">
        {%- if page.compact -%}
          {%- include compact-state.html -%}
        {%- endif -%}
        {{ content }}
      </div>
    </div>
    {%- include email-collection.html -%}
    {%- include footer.html -%}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
