<script type="application/ld+json">
    {
    "@context": "https://schema.org/",
    "@type": "Course",
    "name": "ACLS Recertification",
    "keywords":"acls, acls certification, aclsrecertification, acls certification online, acls recertification online, acls online, asystole, acls algorithm, acls pretest, acls protocol, advanced cardiac life support",
    "timeRequired": "PT2H-PT5H",
    "description": "Complete your ACLS certification or recertification online and self-paced in 2–5 hours. Our class is accepted in every US state and Canadian province, as well as over 60 countries in the Eurozone, Asia and Africa. Our ACLS course is certified for up to 8 AMA PRA Category 1 Credits&trade;. This course also offers ACPE, ANCC and ADA credits.",
    "numberOfCredits" : 8,
    "educationalCredentialAwarded": "up to 8 AMA PRA Category 1 Credits, 8 CME/CE credits.",   
    "datePublished": "2021-06-01T09:00:00Z",
    "dateCreated": "2021-06-01T09:00:00Z",
    "dateModified": "2023-07-01T09:00:00Z",
    "expires": "2024-06-01T09:00:00Z",
    "discussionUrl" : "https://medtalk.pacificmedicaltraining.com/", 
    "headline": "Learn about ventricular fibrillation and more rhythms (advanced class) and responses.",
    "teaches" : "Advanced cardiac life support, ventricular fibrillation and more rhythms and responses.",
    "accessMode": ["textual", "visual"],
    "accessModeSufficient":
    {
      "@type": "ItemList",
      "itemListElement": ["textual", "visual"],
      "description": "Text and images"
    },
    "syllabusSections": [
    { 
      "@type": "Syllabus",
      "name": "Ethics of resuscitation",
      "description": "Exploring the moral considerations in life-saving interventions."
    },
    { 
      "@type": "Syllabus",
      "name": "Basic cardiac life support (BCLS)",
      "description": "Fundamental skills for CPR and life support techniques."
    },
    { 
      "@type": "Syllabus",
      "name": "Recognizing cardiac arrhythmias",
      "description": "Identifying irregular heart rhythms and their significance."
    },
    { 
      "@type": "Syllabus",
      "name": "Pharmacology",
      "description": "Understanding the use of drugs in resuscitation scenarios."
    },
    { 
      "@type": "Syllabus",
      "name": "Dynamics of a resuscitation",
      "description": "Managing and adapting to the evolving situation during resuscitation efforts."
    },
    { 
      "@type": "Syllabus",
      "name": "The management of airway, ventilation and oxygenation",
      "description": "Techniques for ensuring proper breathing and oxygen supply."
    },
    { 
      "@type": "Syllabus",
      "name": "Defibrillation, cardioversion, pacing",
      "description": "Procedures for electrical interventions in cardiac emergencies."
    },
    { 
      "@type": "Syllabus",
      "name": "Acute coronary syndrome",
      "description": "Addressing critical heart conditions like heart attacks."
    },
    { 
      "@type": "Syllabus",
      "name": "Rhythm specific treatment recommendations",
      "description": "Tailoring treatments based on the specific cardiac rhythm."
    },
    { 
      "@type": "Syllabus",
      "name": "Post resuscitation",
      "description": "Strategies for care and recovery after successful resuscitation."
    },
    { 
      "@type": "Syllabus",
      "name": "Acute stroke",
      "description": "Managing acute stroke cases and minimizing damage."
    }
  ],
  "accessibilityAPI": "ARIA",
  "accessibilityControl": [
    "fullKeyboardControl",
    "fullMouseControl"
  ],
  "countryOfOrigin": {
    "@type": "Country",
    "name": "USA"
  },
    "hasCourseInstance": [
      {
        "@type": "CourseInstance",
        "name": "ACLS Recertification",
        "description": "Complete your ACLS certification or recertification online and self-paced in 2–5 hours. Our class is accepted in every US state and Canadian province, as well as over 60 countries in the Eurozone, Asia and Africa. Our ACLS course is certified for up to 8 AMA PRA Category 1 Credits&trade;. This course also offers ACPE, ANCC and ADA credits.",
        "courseMode": [
          "MOOC",
          "Online"
        ],
        "startDate": "{{ "now" | date: "%Y-%m" }}",
        "location": {
      "@type": "Place",
      "name": "ACLS Training Center",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "6501 E. Greenway Pkwy, #103-108 Scottsdale, Arizona 85254",
        "addressRegion": "AZ"
      },
      "url": "https://rnmobility.com/"
    },
        "offers": {
          "@type": "Offer",
          "validFrom": "{{ "now" | date: "%Y-%m" }}",
          "price": "175",
          "url": "https://rnmobility.com/",
          "availability": "https://schema.org/InStock",
          "priceCurrency": "USD"
        }
      }
    ],
    "inLanguage": "English",
    "provider": {
      "@type": "EducationalOrganization",
      "name": "ACLS Training Center"
    },
    "isBasedOn": {
      "@type": "Article",
      "name": "Advanced cardiac life support",
      "publisher": "wikipedia",
      "url": "http:\/\/www.wikidata.org\/entity\/Q379607"
    }
  }
</script>