<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Course",
    "name": "BLS Recertification",
    "keywords": "bls certification, bls recertification, bls certification online, bls recertification online, bls algorithm, bls protocol, bls guidelines, bls 2020, bls online, bls guidelines 2020, pediatric bls, aha bls guidelines",
    "timeRequired": "PT1H-PT3H",
    "description": "Complete your BLS certification or recertification online and self-paced in 2–5 hours. Our class is accepted in every US state and Canadian province, as well as over 60 countries in the Eurozone, Asia and Africa. Our ACLS course is certified for up to 8 AMA PRA Category 1 Credits&trade;. This course also offers ACPE, ANCC and ADA credits.",
    "numberOfCredits": 8,
    "educationalCredentialAwarded": "up to 8 AMA PRA Category 1 Credits, 8 CME/CE credits.",
    "datePublished": "2021-06-01T09:00:00Z",
    "dateCreated": "2021-06-01T09:00:00Z",
    "dateModified": "{{ 'now' | date: '%Y-%m' }}-01T09:00:00Z",
    "expires": "2030-06-01T09:00:00Z",
    "discussionUrl": "https://medtalk.pacificmedicaltraining.com/",
    "headline": "Learn about Basic life support (BLS)",
    "teaches": "Basic life support (BLS) & first aid (Cardiopulmonary resuscitation (CPR), automated external defibrillator (AED), and first aid)",
    "accessMode": ["textual", "visual"],
    "accessModeSufficient": {
      "@type": "ItemList",
      "itemListElement": ["textual", "visual"],
      "description": "Text and images"
    },
    "syllabusSections": [
      {
        "@type": "Syllabus",
        "name": "Foundational concepts of BCLS",
        "description": "Understanding the fundamental principles of Basic Cardiac Life Support (BCLS)."
      },
      {
        "@type": "Syllabus",
        "name": "Response to an adult in cardiac arrest",
        "description": "Learning how to respond effectively to cardiac arrest in adults."
      },
      {
        "@type": "Syllabus",
        "name": "Basic life support for infants and children",
        "description": "Providing life-saving techniques tailored to infants and children in critical situations."
      },
      {
        "@type": "Syllabus",
        "name": "Automated external defibrillation in infants and children",
        "description": "Understanding the use of automated external defibrillators for infants and children."
      },
      {
        "@type": "Syllabus",
        "name": "Preventing cardiac arrest",
        "description": "Exploring strategies to prevent cardiac arrest and promote heart health."
      },
      {
        "@type": "Syllabus",
        "name": "First aid for adults",
        "description": "Providing essential first aid care for adults in various emergencies."
      },
      {
        "@type": "Syllabus",
        "name": "First aid for children",
        "description": "Delivering first aid and care specific to children's needs in emergency situations."
      }
    ],
    "accessibilityAPI": "ARIA",
    "accessibilityControl": ["fullKeyboardControl", "fullMouseControl"],
    "countryOfOrigin": {
      "@type": "Country",
      "name": "USA"
    },
    "hasCourseInstance": [
      {
        "courseSchedule": {
          "@type": "Schedule",
          "duration": "PT1H-PT3H",
          "repeatFrequency": "Daily",
          "repeatCount": 1,
          "startDate": "2021-06-01T09:00:00Z",
          "endDate": "2030-06-01T09:00:00Z"
        },
        "@type": "CourseInstance",
        "name": "BLS Recertification",
        "description": "Complete your BLS certification or recertification online and self-paced in 2–5 hours. Our class is accepted in every US state and Canadian province, as well as over 60 countries in the Eurozone, Asia and Africa. Our ACLS course is certified for up to 8 AMA PRA Category 1 Credits&trade;. This course also offers ACPE, ANCC and ADA credits.",
        "courseMode": "Online",
        "startDate": "2021-06-01T09:00:00Z",
        "location": {
          "@type": "Place",
          "name": "ACLS Training Center",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "6501 E. Greenway Pkwy, #103-108 Scottsdale, Arizona 85254",
            "addressRegion": "AZ"
          },
          "url": "https://rnmobility.com/"
        },
        "offers": {
          "@type": "Offer",
          "validFrom": "2021-06-01T09:00:00Z",
          "price": "65",
          "url": "https://rnmobility.com/",
          "availability": "https://schema.org/InStock",
          "priceCurrency": "USD"
        }
      }
    ],
    "inLanguage": "English",
    "availableLanguage": [
      {
        "@type": "Language",
        "name": "English"
      },
      {
        "@type": "Language",
        "name": "French"
      }
    ],
    "provider": {
      "@type": "EducationalOrganization",
      "name": "ACLS Training Center"
    },
    "isBasedOn": {
      "@type": "Article",
      "name": "Basic life support",
      "publisher": "wikipedia",
      "url": "http:\/\/www.wikidata.org\/entity\/Q16250470"
    },
    "offers": {
      "@type": "Offer",
      "validFrom": "2021-06-01T09:00:00Z",
      "category": "BLS recertification",
      "price": "65",
      "url": "https://rnmobility.com/",
      "availability": "https://schema.org/InStock",
      "priceCurrency": "USD"
    }
  }
</script>
