{%- assign compact_states_count = site.pages | where: 'compact', true | size -%}
<blockquote class="mt-5 mb-4" style="border-left: 5px solid #ccc !important;padding-left: 1.4rem !important;">
  <p>
    <span style="font-size: 4em;color:#ccc;line-height:0.1em;vertical-align:-0.4em;margin-right:0.2em;">"</span> The
    Nursing Licensure Compact (NLC) is an agreement between states that allows nurses to have one license but the
    ability to practice in other states that are part of the agreement.
  </p>
  <p>
    Originally developed in 2000, in {{ 'now' | date: '%Y' }} the license has grown to include
    {{ compact_states_count }} states. To help streamline the process for nurses the Enhanced Nursing Licensure Compact
    (eNLC) was implemented in 2018 and included standards for licensure which the original compact license was lacking.
  </p>
</blockquote>
