
<div class="w-100">
        <h2>Online ACLS Recertification in 2-5 hours</h2>

        <form method="POST" action="https://lms.acls.net/my-shopping-cart-step-1/" class="form-inline courses-btns-form">
          <input name="source_website" type="hidden" value="{%- if page.experiment -%}{{site.url}}{{page.url | escape}}{%- elsif page.canonical-link -%}{{site.url}}{{page.canonical-link | escape}}{%- else -%}{{site.url}}{{page.url | escape}}{%- endif -%}" />
          <p>
            <button type="button" class="btn btn-primary mb-1 course" id="prechecked" style="font-size:25px; background:red; border-color:darkred" data-course="2">
              <i class="bi bi-check2-square"></i>
              ACLS <span class="tex-muted">$175</span>
            </button>
            <button type="button" class="btn btn-primary mb-1 course" style="font-size:25px; background:purple; border-color:purple" data-course="4">
              <i class="bi bi-square"></i>
              PALS <span class="tex-muted">$175</span>
            </button>
            <button type="button" class="btn btn-primary mb-1 course" style="font-size:25px; background:blue; border-color:darkblue" data-course="6">
              <i class="bi bi-square"></i>
              BLS <span class="tex-muted">$65</span>
            </button>
          </p>
          <div class="w-100">
            <button id="buynow" type="submit" class="btn btn-outline-secondary"><i class="bi bi-cart-fill"></i> Buy now</button> <em>10% off with 2 courses, 15% off with 3</em>
          </div>
          <p>
            <a href="https://www.acls.net/signup.php">... see our other courses and group discounts</a>
          </p>
        </form>
      </div>

<footer class="text-center">
  <p>
    &copy; {{ "now" | date: "%Y" }} RNMobility.com, a service of acls.net
  </p>
</footer>
<!-- javascript -->
<script>
  // Code below is used to include acls recertification in shopping cart
  // When code is initially loaded (This is pre checked option) 
  document.addEventListener('DOMContentLoaded', () => {
    const courseHiddenInput = document.createElement('input');
    courseHiddenInput.setAttribute('type', 'hidden');
    courseHiddenInput.setAttribute('id', 'courseHidden2');
    courseHiddenInput.setAttribute('name', 'courses[2][course_id]');
    courseHiddenInput.setAttribute('class', 'courseHidden');
    courseHiddenInput.setAttribute('value', '2');
    document.querySelector('form.courses-btns-form').appendChild(courseHiddenInput);

    const courseHiddenQuantityInput = document.createElement('input');
    courseHiddenQuantityInput.setAttribute('type', 'hidden');
    courseHiddenQuantityInput.setAttribute('id', 'courseHiddenQuantity2');
    courseHiddenQuantityInput.setAttribute('name', 'courses[2][quantity]');
    courseHiddenQuantityInput.setAttribute('class', 'courseHidden');
    courseHiddenQuantityInput.setAttribute('value', '1');
    document.querySelector('form.courses-btns-form').appendChild(courseHiddenQuantityInput);
  });

  // This code will only execute and create event for add to cart when prechecked course is bought.
  document.querySelector('#buynow').addEventListener('click', () => {
    if (document.querySelector('#prechecked i.fa-check-square-o')) {
      const courseNum = 2;
      // GA4
      gtag("event", "add_to_cart", {
        currency: "USD",
        value: courses[courseNum]["price"],
        items: [
          {
            item_id: "course_" + courseNum,
            item_name: courses[courseNum]["name"],
            currency: "USD",
            price: courses[courseNum]["price"],
            quantity: 1,
          },
        ],
      });
    }
  });


  document.querySelectorAll('.courses-btns-form button[data-course]').forEach(button => {
    button.addEventListener('click', (event) => {
      event.stopPropagation();
      const courseNum = button.getAttribute('data-course');

      if (document.querySelector('#courseHidden' + courseNum)) {
        document.querySelector('#courseHidden' + courseNum).remove();
        document.querySelector('#courseHiddenQuantity' + courseNum).remove();
        button.querySelector('i').classList.remove('fa-check-square-o');
        button.querySelector('i').classList.add('fa-square-o');
      } else {
        const courseHiddenInput = document.createElement('input');
        courseHiddenInput.setAttribute('type', 'hidden');
        courseHiddenInput.setAttribute('id', 'courseHidden' + courseNum);
        courseHiddenInput.setAttribute('name', 'courses[' + courseNum + '][course_id]');
        courseHiddenInput.setAttribute('class', 'courseHidden');
        courseHiddenInput.setAttribute('value', courseNum);
        document.querySelector('form.courses-btns-form').appendChild(courseHiddenInput);

        const courseHiddenQuantityInput = document.createElement('input');
        courseHiddenQuantityInput.setAttribute('type', 'hidden');
        courseHiddenQuantityInput.setAttribute('id', 'courseHiddenQuantity' + courseNum);
        courseHiddenQuantityInput.setAttribute('name', 'courses[' + courseNum + '][quantity]');
        courseHiddenQuantityInput.setAttribute('class', 'courseHidden');
        courseHiddenQuantityInput.setAttribute('value', '1');
        document.querySelector('form.courses-btns-form').appendChild(courseHiddenQuantityInput);

        button.querySelector('i').classList.remove('fa-square-o');
        button.querySelector('i').classList.add('fa-check-square-o');

        // GA4
        gtag("event", "add_to_cart", {
          currency: "USD",
          value: courses[courseNum]["price"],
          items: [
            {
              item_id: "course_" + courseNum,
              item_name: courses[courseNum]["name"],
              currency: "USD",
              price: courses[courseNum]["price"],
              quantity: 1,
            },
          ],
        });

        const buynowBtn = document.querySelector('.courses-btns-form #buynow');
        for (let i = 0; i < 8; i++) {
          setTimeout(() => {
            buynow.style.opacity = i % 2;
          }, i * 80);
        }
      }
    });
  });


  const courses = {
    2: {
      "name": 'ACLS Recertification Course',
      "price": '175.0'
    },
    6: {
      "name": 'BLS Recertification Course',
      "price": '65.0'
    },
    4: {
      "name": 'PALS Recertification Course',
      "price": '175.0'
    }
  };

</script>
