{%- include navbar.html -%}

<div class="home-header-container p-3 p-lg-5">
  <div class="container row m-0 mx-auto gy-5 justify-content-between">
    <div class="home-header-container__text col-xl-6 flex-column align-self-start pt-lg-5 text-black">
      <h1 class="home-header-container__heading">
        {{ page.heading }}
      </h1>
      <h2 class="home-header-container__sub-heading my-4">{{ page.subheading }}</h2>
      <a href="#states-section" type="button" class="btn btn-primary p-4 rounded-0">Learn about your license</a>
    </div>
    <div class="home-header-container__image position-relative">
      <img
        class="home-header-container__base-image col-xl-6 w-100"
        src="header-nurses-sitting-at-table.webp"
        alt="Two Nurses sitting at a table, each of them with a stethescope over their necks and going through records on a laptop"
      >
      <!-- Image sourced from: Pexels, accessed on 8th Nov, 2024. No license or attribution required. -->
      <img
        class="home-header-container__top-image d-none d-xl-block position-absolute top-50 start-0 translate-middle"
        src="header-nurse-overlay.webp"
        alt="A nurse with a stethescope round her neck, smiling at the camera"
      >
      <!-- Image sourced from: Pexels, accessed on 8th Nov, 2024. No license or attribution required. -->
    </div>
  </div>
</div>
