<script type="application/ld+json">
    {
    "@context": "https://schema.org/",
    "@type": "Course",
    "name": "PALS Recertification",
    "keywords":"pals certification, pals recertification, pals pretest, pals algorithm, pals algorithms, pals test, pals pretest answers, pals practice test, pals algorithm, pals algorithm 2020",
    "timeRequired": "PT2H-PT5H",
    "description": "Complete your PALS certification or recertification online and self-paced in 2–5 hours. Our class is accepted in every US state and Canadian province, as well as over 60 countries in the Eurozone, Asia and Africa. Our ACLS course is certified for up to 8 AMA PRA Category 1 Credits&trade;. This course also offers ACPE, ANCC and ADA credits.",
    "numberOfCredits" : 8,
    "educationalCredentialAwarded": "up to 8 AMA PRA Category 1 Credits, 8 CME/CE credits.",   
    "datePublished": "2021-06-01T09:00:00Z",
    "dateCreated": "2021-06-01T09:00:00Z",
    "dateModified": "2023-07-01T09:00:00Z",
    "expires": "2024-06-01T09:00:00Z",
    "discussionUrl" : "https://medtalk.pacificmedicaltraining.com/", 
    "headline": "Learn about Pediatric advanced life support (PALS)",
    "teaches" : "Pediatric advanced life support (PALS), signs and symptoms of respiratory distress, signs and symptoms of compensatory shock in infants and children, immediate interventions required for the treatment of shock, Utilization of defibrillator for synchronized cardioversion, cardiopulmonary arrest,  care for post-cardiac arrest patients",
    "accessMode": ["textual", "visual"],
    "accessModeSufficient":
    {
      "@type": "ItemList",
      "itemListElement": ["textual", "visual"],
      "description": "Text and images"
    },
    "syllabusSections": [
    {
      "@type": "Syllabus",
      "name": "Summary of 2020 changes in recommendations",
      "description": "Highlighting key updates and changes in resuscitation recommendations for 2020."
    },
    {
      "@type": "Syllabus",
      "name": "Basic cardiac life support",
      "description": "Fundamental techniques for providing cardiac life support and CPR."
    },
    {
      "@type": "Syllabus",
      "name": "Assessment of the infant or child",
      "description": "Evaluating the condition and needs of infants and children in critical situations."
    },
    {
      "@type": "Syllabus",
      "name": "Saving lives through the management of respiratory problems",
      "description": "Strategies for preserving lives by addressing and managing respiratory issues."
    },
    {
      "@type": "Syllabus",
      "name": "Intervention in respiratory disease and failure, fixing the problem",
      "description": "Taking action to address respiratory diseases and failures effectively."
    },
    {
      "@type": "Syllabus",
      "name": "Respiratory equipment and its use",
      "description": "Understanding respiratory equipment and its proper utilization in resuscitation."
    },
    {
      "@type": "Syllabus",
      "name": "Assessment and treatment of shock",
      "description": "Evaluating and providing treatment for cases of shock in emergency scenarios."
    },
    {
      "@type": "Syllabus",
      "name": "Recognizing and managing arrhythmias",
      "description": "Identifying and effectively addressing various cardiac arrhythmias."
    },
    {
      "@type": "Syllabus",
      "name": "Management of cardiac arrest",
      "description": "Strategies for managing and responding to cardiac arrest situations."
    },
    {
      "@type": "Syllabus",
      "name": "Successful resuscitation — what now?",
      "description": "Planning the next steps after a successful resuscitation effort."
    }
  ],
   "accessibilityAPI": "ARIA",
   "accessibilityControl": [
     "fullKeyboardControl",
     "fullMouseControl"
   ],
   "countryOfOrigin": {
     "@type": "Country",
     "name": "USA"
   },
    "hasCourseInstance": [
      {
        "@type": "CourseInstance",
        "name": "PALS Recertification",
        "description": "Complete your PALS certification or recertification online and self-paced in 2–5 hours. Our class is accepted in every US state and Canadian province, as well as over 60 countries in the Eurozone, Asia and Africa. Our ACLS course is certified for up to 8 AMA PRA Category 1 Credits&trade;. This course also offers ACPE, ANCC and ADA credits.",
        "courseMode": [
          "MOOC",
          "Online"
        ],
        "startDate": "{{ "now" | date: "%Y-%m" }}",
        "location": {
      "@type": "Place",
      "name": "ACLS Training Center",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "6501 E. Greenway Pkwy, #103-108 Scottsdale, Arizona 85254",
        "addressRegion": "AZ"
      },
      "url": "https://rnmobility.com/"
    },
        "offers": {
          "@type": "Offer",
          "validFrom": "{{ "now" | date: "%Y-%m" }}",
          "price": "175",
          "url": "https://rnmobility.com/",
          "availability": "https://schema.org/InStock",
          "priceCurrency": "USD"
        }
      }
    ],
    "inLanguage": "English",
    "provider": {
      "@type": "EducationalOrganization",
      "name": "ACLS Training Center"
    },
    "isBasedOn": {
      "@type": "Article",
      "name": "Pediatric advanced life support",
      "publisher": "wikipedia",
      "url": "http:\/\/www.wikidata.org\/entity\/Q7159220"
    }
  }
</script>
