<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}" data-proofer-ignore></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ site.google_analytics_id }}', {
{% if site.google_analytics_domains %}
  'linker': {
    'domains': [{% for domain in site.google_analytics_domains %}'{{domain}}',{% endfor %}],
    'accept_incoming': true,
    'bob': false,
    'decorate_forms': true
  },
{% endif %}
});
</script>