{% comment %}

This include should be used in the HTML->HEAD section. It should come immediately
after the <meta charset="utf-8" /> line. References: - https://support.google.com/optimize/answer/9692472 {% endcomment %} {% if page.google_optimize %}

<script src="https://www.googleoptimize.com/optimize.js?id={{ page.google_optimize }}"></script>

{% endif %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}" data-proofer-ignore></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ site.google_analytics_id }}', {
{% if page.google_optimize %}
  'optimize_id': '{{ page.google_optimize }}',
{% endif %}
{% if site.google_analytics_domains %}
  'linker': {
    'domains': [{% for domain in site.google_analytics_domains %}'{{domain}}',{% endfor %}],
    'accept_incoming': true,
    'bob': false,
    'decorate_forms': true
  },
{% endif %}
});
</script>