---
layout: home
title: 'USA: RN License Endorsement, Renewal &amp; Education'
description: "Learn the basics of registered nurse license endorsement, renewal, and continuing education in the USA. Keep your nursing credentials up to date."
heading: 'Learn how to use your RN license in another state.'
subheading: Transfer or work across state lines.
---
<div class="row container-md mx-auto">
  <div id="states-section" class="col-md-12">
    <div class="states-section__header text-center mx-auto">
      <h3 class="mb-3">Everything you need to know about the state you want to work in is a click away.</h3>

      <p class="text-lg">Find your state below</p>
    </div>

    <div class="states-section__card-list py-4 mx-auto row justify-content-center gap-4">
      {% for states in site.data.states %}
        <div class="states-section__card-list--item col-6 col-sm-4 col-lg-4 col-xl-3 px-0">
          <div class="states-section__card-item--title">{{ states[0] }}</div>
          <ul class="states-section__card-item--list list-unstyled d-flex flex-column gap-3">
            {% for state in states[1] %}
              <li>
                <a href="{{ state.href }}">{{ state.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="features-section py-5 p-3">
    <div class="feature-one d-flex row mb-5">
      <div class="feature-one__text col-lg-6 row flex-column justify-content-center align-items-start">
        <h4 class="mb-4">An easier path to working in another state as a registered nurse.</h4>

        <p>
          The decision to work in another state can take you into a maze of regulations, forums, and phone calls with
          misinformation at several of the turns. Granted, you could just check state board websites; however, the
          websites do not present the information in a unified way and may lead you on an endless stream of clicks
          giving you little information and more questions than you started out with. The beauty of this site is that it
          presents the information you need to work in another state in a more unified way.
        </p>
      </div>

      <img
        class="col-lg-6 p-0"
        src="images/nurses-arms-folded.webp"
        alt="A group of five nurses, three males, two females, all standing with arms folded and smiling at the camera"
      >
      <!-- Image sourced from: Pexels, accessed on 8th Nov, 2024. No license or attribution required. -->
    </div>

    <div class="feature-two row">
      <img
        class="col-xl-6 p-0"
        src="images/nurses-with-surgical-masks.webp"
        alt="A group of four nurses two females, two males, with nose masks on and looking into the camera"
      >
      <!-- Image sourced from: Pexels, accessed on 8th Nov, 2024. No license or attribution required. -->

      <div class="feature-two__text col-lg-6 d-flex row flex-column justify-content-end align-items-center">
        <h4 class="mb-4 text-left">The research has been done for you</h4>

        <p>
          What you will find on each state&#8217;s page is an explanation of what each state requires for you to
          transfer (by endorsement or reciprocity) your license, work across state lines, and guidelines for renewals
          and continuing competency. We have provided links to important documents you will need such as applications
          for endorsement. You will also find links to frequently asked questions, links to each state board&#8217;s
          website, and we have included contact information for each state&#8217;s nursing board. As an additional
          benefit, we have included details on earnings and employment outlook for RNs in each state.
        </p>

        <p>
          You will also find a page dedicated to explaining the Nurse Licensure Compact, which allows nurses to work
          across state lines with less paperwork and fees. This is useful for Registered Nurses and employers. You will
          learn what states participate in the compact and procedures for obtaining a multi-state nursing license.
        </p>
      </div>
    </div>
  </div>
</div>
