---
layout: page
title: 'USA RN: License endorsement, renewal & CE'
description: "USA RN license: Endorsement, renewal, & continuing ed. Understand overall licensure process & requirements."
heading: 'Multi-state Licenses'
subheading: Gain the freedom to work across state lines with a single multi-State license
---
<div class="multistate-section">
  <div class="multistate-section__one container d-flex row my-5">
    <img
      class="col-lg-6 p-0"
      src="images/nurses-arms-folded.webp"
      alt="A group of five nurses, three males, two females, all standing with arms folded and smiling at the camera"
    >
    <!-- Image sourced from: Pexels, accessed on 8th Nov, 2024. No license or attribution required. -->

    {%- assign compact_states_count = site.pages | where: 'compact', true | size -%}

    <div class="section-one__text bg-light col-lg-6 row flex-column m-0 pt-4 pt-lg-0 justify-content-center align-items-start">
      <h3 style="font-weight: bold;" class="section-one__text--heading mb-4">
        The Nursing Licensure Compact: The key to your mobility throughout {{ compact_states_count }} states
      </h3>

      <p style="font-size: 18px;">
        One of the benefits of being a Registered Nurse is that you have a skill set that is in demand everywhere in the
        US. This gives you the freedom of mobility; however, moving from one state to another can involve a lot of
        paperwork and can be costly. The Nurse Licensure Compact (NLC) was established to increase nurse's mobility.
      </p>
    </div>
  </div>

  <div style="padding-top:20px;" class="multistate-section__two row mx-auto mt-5">
    <div class="row">
      <!-- Remote States Section -->
      <div class="section-two__feature col-md-6 p-4 border rounded-0">
        <h3 style="font-weight: bold;">Remote States</h3>
        <p>
          The NLC allows nurses to work in remote states. Remote states are states that are not your primary state of
          residence. Your primary state of residence is the state you live in and claim for legal purposes. If your
          primary state of residence is a compact state and you were granted a multi-state license, you can work in
          remote states. <a href="https://www.nursys.com" target="_blank">Click here</a> to see if you have a
          multi-state license.
        </p>
      </div>

      <!-- Less Paperwork Section -->
      <div class="section-two__feature col-md-6 p-4 border rounded-0">
        <h3 style="font-weight: bold;">Less Paperwork</h3>
        <p>
          How does this impact you? Consider the following example. Suppose your primary state of residence is Maryland,
          a compact state, and you work as a nurse in Delaware, also a compact state. You will not have to apply for
          endorsement of your license in order to work in Delaware. This helps you save money and causes fewer
          documentation requirements.
        </p>
      </div>
    </div>
  </div>

  <div class="multistate-section__three container d-flex row my-5">
    <div class="section-three__text bg-light col-lg-6 row flex-column m-0 pt-4 pt-lg-0 justify-content-center align-items-start">
      <h3 style="font-weight: bold;" class="section-three__text--heading mb-4">Exceptions</h3>
      <p style="font-size: 18px;">
        You will have to apply for endorsement and pay applicable fees if you change your primary state of residence.
        When you move, you will have 30 days to practice on your former license (beginning employment start date). If
        your employment start date occurs before you change your primary state of residence, you have 30 days from the
        day you have established residence (receiving a drivers license, for example).
      </p>

      <div class="section-three__text--callout alert rounded-0 mt-4">
        <span style="font-weight: bold;">N/B:</span> utilizing your multi-state licensure privileges does not exempt you
        from a remote state's nursing laws and regulations.
      </div>
    </div>

    <img
      class="col-lg-6 p-0"
      src="images/nurses-with-surgical-masks.webp"
      alt="A group of five nurses, three males, two females, all standing with arms folded and smiling at the camera"
    >
    <!-- Image sourced from: Pexels, accessed on 8th Nov, 2024. No license or attribution required. -->
  </div>

  <div id="states-section">
    <h3 style="font-weight: bold;" class="mx-auto text-center">States that have Implemented the NLC</h3>
    <div class="states-section__card-list py-4 mx-auto row justify-content-center gap-4">
      {% assign states_by_letter = site.pages
        | where_exp: 'page', 'page.statename != nil'
        | where_exp: 'page', 'page.statename != nil'
        | where_exp: 'page', 'page.compact == true'
        | group_by_exp: 'item', 'item.statename | slice: 0'
      %}
      {% for letter_group in states_by_letter %}
        <div class="states-section__card-list--item col-6 col-sm-4 col-lg-4 col-xl-3 px-0">
          <div class="states-section__card-item--title">{{ letter_group.name }}</div>
          <ul class="states-section__card-item--list list-unstyled d-flex flex-column gap-3">
            {% for state in letter_group.items %}
              {% if state.statename %}
                <li>
                  <a href="{{ state.name | remove: '.md' }}">{{ state.statename }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <div>
    <iframe
      width="100%"
      height="500"
      src="https://www.youtube.com/embed/4Rl2TNAyHDQ?si=_CIjxIdU-Zyg-glL"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <div class="row mt-5">
    <div class="col-md-4 mb-3">
      <div class="bg-light p-4 rounded-0 text-center">
        <h3 style="font-weight: bold;">Learn more about the NLC</h3>
        <p>
          <a href="https://www.nursecompact.com/how-it-works/applying-for-licensure.page" target="_blank">Visit link</a>
        </p>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="bg-light p-4 rounded-0 text-center">
        <h3 style="font-weight: bold;">NLC FAQs</h3>
        <p><a href="https://www.ncsbn.org/public-files/faq.pdf" target="_blank">Visit link (PDF)</a></p>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="bg-light p-4 rounded-0 text-center">
        <h3 style="font-weight: bold;">NLC nurse factsheet</h3>
        <p>
          <a href="https://www.ncsbn.org/public-files/2018NewGradsFactsheetFINAL.pdf" target="_blank">Visit link</a>
        </p>
      </div>
    </div>
  </div>
</div>
